@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');


nav{
    display: flex;
    justify-content: flex-end;
  
}

.logo{
    height: 30px;
    padding-right: 500px;
}

 ul{
    
    display: flex;
    align-self: flex-end;
    padding-right: 100px;
 }

 a{
    color: black;
    text-decoration: none;
    font-size: larger;
 }

 li{
    list-style: none;
 }

section{
    display: flex;
}

.box1{
    flex: 50%;
}

.item1{
   color: #ff0000;
   margin: 7% 0% 0% 10%;
   font-size: 20px;
}
.jpg{
    height: 600px;
    margin: 0.1% 5% 10% -5%;
}
.b{
    flex: 50%;
}
.un{
    font-size: 90px;
    margin: 2% 0% 0% 10%;
}
.item2{
    margin: 2% 0% 0% 10%;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: rgb(116, 111, 111);
}
.btn{
    width: 120px;
    height: 40px;
    margin: 2% 0% 0% 10%;
    background-color: orange;
    border-radius: 20px;

}
.btn-1{
    margin: 0% 1% 0% 5%;
    background-color: #ff0000;
    border-radius: 70px;
    width: 50px;
    border-color: none;
}
.ctg{
    flex: 70%;
}
.item3{
    margin: 3% 0% 0% 60%;
    font-family: 'Kanit', sans-serif;
    color: rgb(116, 111, 111);
}
.deux{
    margin: 1% 0% 0% 43%;
    font-size: 40px;
}
.gp{
    flex: 30%;
}
.image{
    margin: 1% 0% 0% 43%;
}
.box2{
    display: flex;
    justify-content: space-around;
    margin: 5% 0% 0% 0%;
}
.item4{
    width: 170px;
    height: 200px;
}
.image48{
    margin: 5% 0% 5% 25%;
}
.item5{
    width: 170px;
    border-radius: 20px;
    box-shadow: 0px 100px 30px 0px  rgb(241, 240, 240);
}
.image51{
    margin: 5% 0% 5% 25%;
    width: 90px;
    height: 75px;
}
.item6{
    width: 170px;
}
.image50{
    margin: 5% 0% 5% 30%;
}
.item7{
    width: 170px;
}
.image49{
    margin: 5% 0% 5% 30%;
}
.text1{
    text-align: center;
}
.item8{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: rgb(116, 111, 111);
}
.item9{
    text-align: center;
    margin: 10% 0% 0% 0%;
    font-family: 'Kanit', sans-serif;
    color: rgb(116, 111, 111);
}
.trois{
    text-align: center;
    margin: 0% 0% 5% 0%;
}
.box3{
    display: flex;
    justify-content: center;

}
.item10{
    margin: 0% -5% 0% 0%;
}
.item11{
    margin: 0% -5% 0% 0%;
}
.item12{
    margin: 0% 0.5% 0% 0%;
}
.img10{
    width: 400px;
    height: 400px;
}
.img11{
    width: 400px;
    height: 400px;
}
.img12{
    width: 400px;
    height: 400px;
}
.it10{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.rome{
    margin: -20% 0% 0% 10%;
}
.rome2{
    margin: -20% 12% 0% 0%;
}
.rome3{
    margin: -10% 36% 0% 0%;
}
.box4{
    flex: 10%;
    margin: 0% 0% 0% 15%;
}
.p1{
    font-family: 'Kanit', sans-serif;
    color: rgb(116, 111, 111);
    margin: 25% 0% 0% 0%;
}
.text2{
    margin: 10% 0% 0% 0%;
    font-size: 40px;
}
.box5{
    flex: 50%;
}
.img5{
    height: 500px;
    margin: 1% 0% 0% 15%;
}